**/__pycache__/
.idea/
figures_cur/
figures_infnext/
figures_next/
figures_inf/
results_cur/
results_inf/
results_infnext/
results_next/
results_labelpercent/
NextBatchPredict.py
NextBatchPredict_proportion.py
InfinitedelayNext.py
